body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*New Code*/
/*For Rendering Body Content*/ 

body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

/*For sidenav that how it will display*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

/*sidenav links*/

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/*sidenave when you hover mouse this effect will ocure*/

.sidenav a:hover, .offcanvas a:focus{

    color: #f1f1f1;
}
/*sidenav close button effect*/

.sidenav .closebtn {
    position: absolute;
    top: 30px;
    right: 0px;
    font-size: 36px;
    margin-left: 50px;
}

/*sidenave main window content*/

#main {
    transition: margin-left .5s;
    padding: 16px;
}

/*Responsiveness*/

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*Content in Drop-down*/
ul , li {
    list-style:none
}