@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron" style="margin-top:0px">
    <h1>BUSINESS PRO: Business Management System</h1>
    <p class="lead">Business Pro: Business Management System.....</p>
    <p><a href="#" class="btn btn-primary btn-large">Get Started &raquo;</a></p>
</div>

@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                Business Pro: Business Management System.....
            </p>
            <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>How To use it</h2>
            <p>Business Pro: Business Management System.....</p>
            <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Why BMS?</h2>
            <p>Business Pro: Business Management System.....</p>
            <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
        </div>
    </div>*@